* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    padding: 1rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
            /* background-color: #dcdcdc; */
}

.socials-row {
    margin-top: -0.3rem;
    /* display: flex; */
    padding-left: 43px;
    gap: 1rem;
    /* flex-wrap: wrap; */
    /* padding-left: 70px; */
}

.socials-row img {
    width: 1.1rem;
    height: 1.1rem;
}

.socials-row>a {
    padding: 0.5rem;
    border-radius: 10rem;
    width: 90%;
    min-height: 3rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: #dcdcdc;
    padding: 0.5rem;
    background-color: #1b1b1b;
    font-weight: 700;
}

/* .socials-row>a:hover {
    background-color: var(--social-background-hover);
} */

.login-welcome-row {
    margin-bottom: 4.5rem;
    text-align: center;
    /* font-family: serif; */
    font-weight: lighter;
}

.my-form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background-color: var(--white);
    width: 100%;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    height: fit-content;
}

.my-form__button {
    background-color: #1b1b1b;
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-bottom: px; */
    margin-left: 178px;
    line-height: 42px;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    /* font-weight: 800; */
    /* min-height: 50px; */
    width: 20%;
    border-radius: 99px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* .my-form__button:hover {
    background-color: rgb(70, 32, 32);
    color : aliceblue;
} */

/*? input wrapper */

.input__wrapper {
    position: relative;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    margin-left: 5%;
    width: 90%;
    border-radius: 5px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
}

.input__wrapper img {
    height: 18px;
    margin-right: 1.2rem;
    margin-left: 0.4rem;
    margin-bottom: 1.5px;
}

/* .input__label {
    flex: 1;
    color: ;
    font-size: 1rem;
} */

.input__field {
    font-size: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}


.input__icon {
    position: absolute;
    right: -0.875rem;
    bottom: -0.6875rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.125rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
} */

/* .input__icon:hover {
    border-radius: 50%;
} */

.my-form__actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--secondary);
    gap: 1rem;
    margin-top: 0.5rem;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
    /* text-decoration: none; */
}


.my-form__row {
    display: flex;
    gap: 0.5rem;
    margin-top: 10px;
    padding-left: 90px;
    /* justify-content: space-between; */
}

/* General container styles */
.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* assuming 'gap-2' means 2 units which usually equates to 0.5rem */
    margin-top: 1.2rem;/* my-10 equates to margin-top and margin-bottom of 2.5rem */
    margin-bottom: 1.5rem;
    /* opacity: 1; opacity-100 means fully opaque */
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

/* Styles for horizontal lines */
.line {
    width: 50%; /* w-1/2 means 50% width */
    border-color: black; /* border-black means the border color is black */
    opacity: 0.1;
}

/* Styles for paragraph */
.container p {
    color: gray; /* making the text color grayish */
    opacity: 0.3; /* less opacity for grayish effect */
}

